/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-color: rgb(86, 80, 125);
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}  

.card {
  background-color: lavender;
  border: 2px solid lavender;
  border-radius: 5px;
  padding: 40px;
  margin: 4px 2px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: grid;
  align-items: center;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.card:hover {
  animation: bounce 0.5s linear;
  cursor: pointer;
}

@keyframes bounce {
  40%{
    transform: translateY(-6px);
  }
  /* 40%{
    transform: translateY(0px);
  } */
  /* 60%{
    transform: translateY(-2px);
  }
  80%{
    transform: translateY(0px);
  } */
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}

.card-subtitle {
  font-weight: lighter;
  color: rgb(117, 117, 117);
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-image {
  height: 180px;
  margin: 0 auto;
}

#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: lavender;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

button {
  background-color:rgb(86, 80, 125);
  padding: 10px 20px;
  border: none;
  color:white;
  border-radius: 3px;
  transition: transform 100ms;
}

button:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0px 1px 2px rgb(78, 73, 114); 
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
