/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-color: lavender;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}  

.card {
  border: 2px solid purple;
  border-radius: 5px;
  padding: 40px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: grid;
  align-items: center;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
}

.card-subtitle {
  font-weight: lighter;
  color: gray;
  margin-top: 5px
}

#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
